---
title: "Schmijos' Blog"
---

<% sorted_articles[0, 3].each do |post| %>
  <article>
    <h2><%= link_to post[:title], post.path %></h2>
    <time datetime="<%= post[:created_at] %>"><%= post[:created_at].strftime('%F') %></time>
    <section class="content">
      <%= post.compiled_content %>
    </section>
  </article>
<% end %>
