body {
  color: rgba(46, 48, 58, 0.96);
  font-family: "freight-text-pro", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1.2rem;
  line-height: 1.9rem;
}

a {
  color: #AD141E;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

time {
  color: #737685;
  font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.1rem;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

pre {
  background-color: #F1F1F1;
  padding: 10px;
}

pre code {
  letter-spacing: -0.5px;
}

.container {
  max-width: 768px;
  padding: 0 20px;
  margin: 0 auto;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px dotted #DDDDDD;
}

article + article {
  border-top: 1px solid #BBBBBB;
  margin-top: 4em;
}

article:last-of-type {
  margin-bottom: 3em;
}

header {
  margin-bottom: 3em;
}

header h1 {
  padding: 0.5em 0;
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 5px;
}

header ul li {
  display: inline;
  margin: 0 5px;
}

header h1 {
  font-variant: small-caps;
}

img.avatar {
  height: 320px; /* prevents flickering on image load */
  margin: 50px auto;
  border-radius: 100%;
}
